/web-app/WEB-INF/
/target/
/target-eclipse/

.classpath
.project
.settings
/*.launch
/*.tmproj

stacktrace.log
/test/reports

*.war

/ZTB-dokumentacja/ZTB-dokumentacja.tex
/ZTB-dokumentacja/rozdzial1.tex
/ZTB-dokumentacja/*.aux
/ZTB-dokumentacja/*.log
/ZTB-dokumentacja/*.out
/ZTB-dokumentacja/*.pdf
/ZTB-dokumentacja/*.synctex.gz
/ZTB-dokumentacja/*.toc