@import url(../reindeer/styles.css);

.v-table tr.v-selected {
    background: #8C7F56;
    color: #fff;
}

 .v-panel-content-header-panel {
    background: transparent;
}

 .v-panel-content-header-panel > div {
   background: url(img/logo.jpg);
}

 .v-panel-content-footer-panel > div {
   background: url(img/footer.jpg);
}

 .v-panel-content-login-panel {
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(100,100,100, 0.4);
    border: none;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    color: white;
}

 .v-panel-content-login-panel > div {
   background: transparent;
}

.v-panel-content-footer-panel {
	background: transparent;
}

.v-panel-content-footer-panel > div {
	background-color: black;
	color: white;
}

.v-panel-content-blabla {
	background: transparent;
}

.v-panel-content-blabla > div {
	background-color: yellow;
}

.v-tabsheet-tabitemcell {
    width: 15%;
}

.v-tabsheet-tabitem .v-caption {
    width: auto !important;
}

.v-tabsheet-sessions .v-tabsheet-tabitemcell {
    width: 33.33%;
}

.v-tabsheet-sessions .v-tabsheet-tabitem .v-caption {
    width: auto !important;
}

.v-tree {
	padding-top: 15px;
    padding-left: 10px;
}

.v-tree-node-no-children
{
    background: none;
}

.v-table-row.v-table-row-unread {
	font-weight: bold; 
    background-color: white;
 }
 
.v-table-row-odd.v-table-row-unread {
	font-weight: bold; 
	background-color: white;
}

.v-table-row.v-table-row-read {
    background-color: #DCE7E8;
 }
.v-table-row-odd.v-table-row-read {
	background-color: #DCE7E8;
}

.v-table-row.v-table-row-notmember {
    background-color: white;
 }
 
.v-table-row-odd.v-table-row-notmember {
	background-color: white;
}

.v-table-row.v-table-row-member {
    background-color: #D1C17B;
 }
.v-table-row-odd.v-table-row-member {
	background-color: #D1C17B;
}

.v-table-row.v-table-row-waiting {
    background-color: #F2ECD3;
 }
.v-table-row-odd.v-table-row-waiting{
	background-color: #F2ECD3;
}

.v-button .v-button-wrap>.v-icon{
	height:16px;
	width:16px;
}

.icon20 .v-button-wrap>.v-icon{
	height:20px;
	width:20px;
}

.v-button-link span.v-button-caption,   /* Vaadin Buttons with the "link" style */
.v-link a span  /* Vaadin Link objects */
{
    text-decoration: none;  /* no underline, unless mouse is on it... see a:hover */
}

.v-button-link span.v-button-caption:hover,   /* Vaadin Buttons with the "link" style */
.v-link a:hover {  /* Vaadin Link objects */
    text-decoration: underline;   /* When mouse over a link: show underline */
}

.white-link .v-button-caption
{
	color: white
}

.gold-link .v-button-caption
{
	color: #786D3C	
}

.v-verticallayout-left75 .v-verticallayout-margin {
	padding-left:   75px;
	padding-right:  25px;
	padding-top:    25px;
 	padding-bottom: 25px;
}