@import url(../reindeer/styles.css);

.v-table tr.v-selected {
    background: #8C7F56;
    color: #fff;
}

.v-panel-nocaption {
    border-bottom: #3e4044 solid 1px !important;
    border-bottom-color: rgba(62, 64, 68, 1) !important;
}

.v-label hr {
    background: rgb(62, 64, 68) !important;
    border-bottom-color: rgb(15, 16, 17) !important;
}

.v-panel-content > div {
    background: transparent;
}

.v-panel-content {
    border: #3e4044 solid 1px;
}

 .v-panel-content-header-panel {
    background: transparent;
    border: #3e4044 solid 1px;
}

/*.v-table-header-cell, .v-table-header-cell-asc, .v-table-header-cell-desc{
    border: #3e4044;
}*/

 .v-panel-content-header-panel > div {
   background: url(img/logo.jpg);
}

 .v-panel-content-footer-panel > div {
   background: url(img/footer.jpg);
   color: white;
}

/*.v-table-body {
    border: #3e4044 solid 1px;
    border-color: #3e4044 !important;
}*/


/*.v-table .v-table-row-odd{
    color: white !important;
    background: white  !important;
}*/


/*.v-table-row .systems-layout{
background: #3e4044 !important;

}*/




.v-panel-content-footer-panel {
	background: transparent;
        border: #3e4044 solid 1px;
}

 .v-panel-content-diffrent > div {
   background-color: #F2ECD3;
}

.v-panel-content-diffrent {
	background-color: #F2ECD3;
}

 .v-panel-content-history > div {
   background-color: #DB8888;
}


.v-panel-content-history {
	background-color: #DB8888;
}

 .v-panel-content-joined > div {
    background-color: #D1C17B;
}

.v-panel-content-joined {
	background: transparent;
}

 .v-panel-content-waiting > div {
    background-color: #F2ECD3;
}

.v-panel-content-waiting {
	background: transparent;
}

 .v-panel-content-login-panel {
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(100,100,100, 0.4);
    border: none;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
    color: white;
}

 .v-panel-content-login-panel > div {
   background: transparent;
}

.v-panel-content-blabla {
	background: transparent;
}

.v-tabsheet-tabitemcell {
    width: 15%;
}

.v-tabsheet-tabitem .v-caption {
    width: auto !important;
}

.v-tabsheet-sessions .v-tabsheet-tabitemcell {
    width: 33.33%;
}

.v-tabsheet-sessions .v-tabsheet-tabitem .v-caption {
    width: auto !important;
}

/*.v-tabsheet-tabs-minimal .v-tabsheet-tabitemcell-selected .v-tabsheet-tabitemcell-first .v-tabsheet-tabitemcell-first-selected {
    background: transparent;
}*/

.v-tree {
	padding-top: 15px;
    padding-left: 10px;
}

.v-tree-node-no-children
{
    background: none;
}

.v-table-row.v-table-row-unread {
	font-weight: bold; 
    background-color: #3e4044;
 }
 
.v-table-row-odd.v-table-row-unread {
	font-weight: bold; 
	background-color: #3e4044;
}

.v-table-row.v-table-row-read {
    background-color: #F2ECD3;
 }
.v-table-row-odd.v-table-row-read {
	background-color: #F2ECD3;
}

.v-table-row.v-table-row-notmember {
    background-color: #3e4044;
 }
 
.v-table-row-odd.v-table-row-notmember {
	background-color: #3e4044;
}

/*.v-table-row.v-table-row-systemstable {
    background-color: #3e4044;
 }
 
.v-table-row-odd.v-table-row-systemstable {
	background-color: #1e2022;
}*/

.v-table-row.v-table-row {
   background-color: #3e4044;
 }


.v-table-row-odd.v-table-row{
       background-color: #3e4044;
}


.v-table-row.v-table-row-member {
    background-color: #D1C17B;
 }
.v-table-row-odd.v-table-row-member {
	background-color: #D1C17B;
}

.v-table-row.v-table-row-waiting {
    background-color: #F2ECD3;
 }
.v-table-row-odd.v-table-row-waiting{
	background-color: #F2ECD3;
}

.v-button .v-button-wrap>.v-icon{
	height:16px;
	width:16px;
}

.v-button-link span.v-button-caption,   /* Vaadin Buttons with the "link" style */
.v-link a span  /* Vaadin Link objects */
{
    text-decoration: none;  /* no underline, unless mouse is on it... see a:hover */
}

.v-button-link span.v-button-caption:hover,   /* Vaadin Buttons with the "link" style */
.v-link a:hover {  /* Vaadin Link objects */
    text-decoration: underline;   /* When mouse over a link: show underline */
}

.white-link .v-button-caption
{
	color: white
}

.gold-link .v-button-caption
{
	color: #786D3C	
}

.black-link .v-button-caption
{
	color: #3e4044;
	font-weight: bold;
	text-decoration: underline !important;
}

.v-verticallayout-left75 .v-verticallayout-margin {
	padding-left:   75px;
	padding-right:  25px;
	padding-top:    25px;
 	padding-bottom: 25px;
}

.blabla {
    border-left: #D1D1D1 solid 1px;
}


/*.v-webkit .v-panel-deco, .v-gecko .v-panel-deco, .v-ie9 .v-panel-deco {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.08);
    border-top-color: rgba(0, 0, 0, 1);
}

.v-panel-deco, .white .v-panel-deco {
    background: none repeat scroll 0% 0% rgb(226, 226, 226);
    overflow: hidden;
    border-top: 3px solid rgb(0, 0, 0);
    height: 1px;
}*/